/*  blue: #00266a
    red:  #b41f30 */
body {
    color: #00266a;
    font-family: 'Slabo 27px', serif;
    text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,e8e8e8+100 */
    background: #fcfcfc; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #fcfcfc 0%, #e8e8e8 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #fcfcfc 0%,#e8e8e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #fcfcfc 0%,#e8e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    display: block;
    width: 300px;
    margin: 0 auto 40px;
}

.logo-sm {
    width: 150px;
}

.announcement {
    margin: 40px auto 0;
    font-weight: bold;
    font-size: 28px;
}

.details-table {
    width: 600px;
    max-width: 100%;
    margin: 40px auto;
}

.details-table td {
    font-size: 24px;
}

.details-table > tbody > tr > td,
.details-table > tbody > tr > th,
.details-table > tfoot > tr > td,
.details-table > tfoot > tr > th,
.details-table > thead > tr > td,
.details-table > thead > tr > th {
    border: none;
}

.form-wrap {
    margin-bottom: 40px;
}

.site-footer a {
    color: #00266a;
}